table.tabla1{
    border: red 1px solid;
}
td.a{
    border: blue 3px solid;
}

table.tabla3{
    border: springgreen 1px solid;
    width: 650px;
    text-align: center;
}

td.A{
    border: springgreen 1px solid;
}
